exportPattern("^[[:alpha:]]+")
import(FNN)
import(glmnet)
S3method(nonzero, customizedGlmnet)
S3method(nonzero, singleton)
S3method(plot, customizedGlmnet)
S3method(plot, cv.customizedGlmnet)
S3method(predict, customizedGlmnet)
S3method(predict, cv.customizedGlmnet)
S3method(predict, singleton)
S3method(print, customizedGlmnet)
S3method(print, cv.customizedGlmnet)
importFrom("graphics", "axis", "image", "par", "plot")
importFrom("stats", "cutree", "dist", "hclust", "predict")
